{{#section 'css'}}
<!-- For template -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="/css/edit.css">
{{/section}}


<!-- SECTION -->
<div class="section">
    <!-- container -->

    {{#each editProfile}}

    <div class="container">
        <div class="row flex-lg-nowrap">


            <div class="col">
                <div class="row">

                    <div class="col-12 col-md-1 mb-3 ">
                    </div>

                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <div class="row">
                                        <div class="col-12 col-sm-auto mb-3">
                                            <div class="mx-auto" style="width: 140px;">
                                                <img src="/img/DealerAvt.png" id="user_logo_image" class="" width="165"
                                                    height="165">
                                            </div>
                                        </div>
                                        <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                            <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                <h1 class="pt-sm-2 pb-1 mb-0 text-nowrap"><b>{{fullname}}</b></h1>
                                                <p class="mb-0">@{{username}}</p>
                                                {{!-- <div class="text-muted"><small>Last seen 2 hours ago</small></div> --}}
                                                <div class="mt-2">
                                                    <button class="btn btn-dark" type="button">
                                                        <i class="fa fa-fw fa-camera"></i>
                                                        <span>Change Photo</span>
                                                    </button>
                                                </div>
                                                <div class="mt-2">
                                                    <button class="btn btn-secondary mt-3" type="button">
                                                        <a href="/account/profile/{{../session.user.id}}/edit/changePassword"
                                                            style="color:white">
                                                            <i class="fa fa-fw fa-key"></i>
                                                            <span>Change Password</span>
                                                        </a>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="text-center text-sm-right">
                                                <span class="label label-warning" id="roleBadge">seller (code
                                                    cứng)</span>
                                                <script>
                                                    var roleBadge = document.getElementById("roleBadge");
                                                    if ({{ permission }} === 1) { roleBadge.innerHTML = "seller"; }
                                                    else if ({{ permission }} === 0) { roleBadge.innerHTML = "bidder"; }
                                                    else { roleBadge.innerHTML = "anonymous"; }
                                                </script>
                                                <div class="text-muted"><small>Joined 01 Jan 2020</small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            <form id="formEditProfile" method="POST" action="">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Full Name</label>
                                                                    <input class="form-control" type="text"
                                                                        name="fullName" id="fullName"
                                                                        placeholder="Full name" value="{{fullname}}"
                                                                        required>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Username</label>
                                                                    <div type="text" name="username"
                                                                        placeholder="johnny.s" value="johnny.s">
                                                                        {{username}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input class="form-control" type="text" name="email"
                                                                        id="email" placeholder="user@example.com"
                                                                        value="{{email}}" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Phone number</label>
                                                                    <input class="form-control" type="text" name="phone"
                                                                        id="phone" placeholder="0123456789"
                                                                        value="{{phone}}" required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col mb-3">
                                                                <div class="form-group">
                                                                    <label>About</label>
                                                                    <textarea class="form-control" rows="5"
                                                                        placeholder="My Bio"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{!-- <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <div class="mb-2">
                                                            <h2>Change Password</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Current Password</label>
                                                                    <input class="form-control" type="password"
                                                                        id="password" name="password"
                                                                        placeholder="••••••">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>New Password</label>
                                                                    <input class="form-control" type="password"
                                                                        id="newPassword" name="newPassword"
                                                                        placeholder="••••••">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <label>Confirm <span
                                                                            class="d-none d-xl-inline">Password</span></label>
                                                                    <input class="form-control" type="password"
                                                                        id="rePassword" name="rePassword"
                                                                        placeholder="••••••"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-5 offset-sm-1 mb-3">

                                                    </div>
                                                </div> --}}
                                                <div class="row ml-3" style="color: red;">
                                                    <span id="msg"></span>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        <button class="btn btn-light mr-5"
                                                            style="font-size: initial;">
                                                            <a href="/account/profile/{{../session.user.id}}"  style="color: black;">Cancel</a></button>
                                                        <button class="btn btn-dark" type="submit"
                                                            style="font-size: initial;">Save Changes</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-1 mb-3 ">
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{/each}}
    <!-- /container -->
</div>
<!-- /SECTION -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
    integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script src="/js/editProfile.js"></script>