<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body>
    <!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <div class="page-container drawer-page-content" id="PageContainer">

            <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
                <script> var wk_type_url = "?";</script>
                <style>
                    #shopify-section-footer,
                    #shopify-section-static-footer {
                        float: left;
                        width: 100%;
                    }

                    .mp-loader {
                        position: fixed;
                        background: rgba(255, 255, 255, 0.6);
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        z-index: 1100
                    }

                    .mp-loader .mp-spinner {
                        width: 52px;
                        height: 52px;
                        border: 4px solid #cccccc;
                        border-radius: 50%;
                        animation: mp-spin 460ms infinite linear;
                        -o-animation: mp-spin 460ms infinite linear;
                        -ms-animation: mp-spin 460ms infinite linear;
                        -webkit-animation: mp-spin 460ms infinite linear;
                        -moz-animation: mp-spin 460ms infinite linear;
                        border-color: #555555 #cccccc;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        margin-left: -26px;
                        margin-top: -26px;
                    }

                    .mp-loader .title-text {
                        position: absolute;
                        text-align: center !important;
                        top: 56%;
                        width: 100%;
                    }

                    @keyframes mp-spin {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(360deg);
                        }
                    }

                    @-o-keyframes mp-spin {
                        from {
                            -o-transform: rotate(0deg);
                        }

                        to {
                            -o-transform: rotate(360deg);
                        }
                    }

                    @-ms-keyframes mp-spin {
                        from {
                            -ms-transform: rotate(0deg);
                        }

                        to {
                            -ms-transform: rotate(360deg);
                        }
                    }

                    @-webkit-keyframes mp-spin {
                        from {
                            -webkit-transform: rotate(0deg);
                        }

                        to {
                            -webkit-transform: rotate(360deg);
                        }
                    }

                    @-moz-keyframes mp-spin {
                        from {
                            -moz-transform: rotate(0deg);
                        }

                        to {
                            -moz-transform: rotate(360deg);
                        }
                    }
                </style>
                <div class="rte">
                    <div class="mp_sp_page" data-cust="">
                        <!-- product listing block -->
                        <!-- include important library to run smoothly -->
                        <link href="https://sp-seller.webkul.com/css/bootstrap-grid-only-css.css" type="text/css"
                            rel="stylesheet">
                        <link rel="stylesheet" type="text/css"
                            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
                        <link href="https://sp-seller.webkul.com/lib/rateyo/jquery.rateyo.min.css" rel="stylesheet">
                        <!-- block end -->
                        <!-- custom css and main css -->
                        <style>
                            /** default or main css */
                            .starChecked {
                                color: orange;
                            }

                            a {
                                outline: 0 !important;
                            }

                            .mp-full-width {
                                width: 100%;
                            }

                            .rateit,
                            .wk-inline-block {
                                display: inline-block !important;
                            }

                            .hidden {
                                display: none;
                            }

                            .mp-no-lr-pad {
                                padding-left: 0;
                                padding-right: 0;
                            }

                            .mp-mrgn-btm-12 {
                                margin-bottom: 12px;
                            }

                            .mp-mrgn-btm-5 {
                                margin-bottom: 5px;
                            }

                            .mp-mrgn-btm-32 {
                                margin-bottom: 32px;
                            }

                            .mp-vmiddle {
                                vertical-align: middle;
                            }

                            .mp-store-logo {
                                overflow: hidden;
                            }

                            #store_logo_image {
                                padding: 3px;
                                max-height: 250px;
                            }

                            .mp-store-name {
                                font-size: 20px;
                                font-weight: 600;
                            }

                            .mp-color-gray {
                                color: #5F5F5F;
                            }

                            .mp-contact {
                                color: #00B9CD;
                            }

                            .text-center {
                                text-align: center;
                            }

                            .mp-page {
                                color: #f45b4f;
                                cursor: pointer;
                            }

                            #mp-seller-tabs .nav-tabs>li.active>a,
                            .nav-tabs>li.active>a:focus,
                            .nav-tabs>li.active>a:hover {
                                -moz-border-bottom-colors: none;
                                -moz-border-left-colors: none;
                                -moz-border-right-colors: none;
                                -moz-border-top-colors: none;
                                border-image: none;
                                border-style: solid;
                                border-width: 1px;
                                cursor: default;
                                border-color: transparent;
                                background-color: #f45b4f;
                                color: #FFFFFF;
                            }

                            #mp-seller-tabs .nav-tabs {
                                margin: 0 !important;
                            }

                            #mp-seller-tabs .nav-tabs>li>a {
                                border: 1px solid transparent;
                                border-radius: 3px 3px 0 0;
                                line-height: 1.42857;
                                margin-right: 2px;
                            }

                            #mp-seller-tabs .nav>li>a {
                                display: block;
                                padding: 10px 15px;
                                position: relative;
                            }

                            #mp-seller-tabs .nav {
                                list-style: outside none none;
                                margin-bottom: 0;
                                padding-left: 0;
                                display: table;
                                clear: both;
                            }

                            #mp-seller-tabs .nav-tabs>li {
                                float: left;
                                margin-bottom: 0;
                            }

                            #mp-seller-tabs .nav>li {
                                display: block;
                                position: relative;
                            }

                            .mp-tab-content {
                                border-top: 1px solid #EF7C73;
                                padding-top: 24px;
                                background: none;
                                float: left;
                                width: 100%;
                            }

                            .mp-err {
                                color: red;
                            }

                            .mp-pad-btm-12 {
                                padding-bottom: 12px
                            }

                            .mp-success {
                                color: green;
                                border: 1px solid #CCCCCC;
                                line-height: 32px;
                                text-align: center;
                                display: none;
                            }

                            .mp-all-review-btn {
                                border: 1px solid #CCCCCC;
                                color: #5F5F5F;
                                width: 100%;
                            }

                            #seller_feedback_tab {
                                word-wrap: break-word;
                                overflow-x: hidden;
                            }

                            .mp-bdr-gray {
                                border-bottom: 1px solid #CCCCCC;
                            }

                            .mp-pagination {
                                display: inline-block;
                            }

                            .mp-pagination li {
                                display: inline;
                                margin-left: 12px;
                                cursor: pointer;
                                list-style: none;
                            }

                            .mp-pagination li.active {
                                cursor: default;
                            }

                            tr>td {
                                padding: 0;
                            }

                            .mp-spinner {
                                width: 36px !important;
                                height: 36px !important;
                                border-width: 2px !important;
                            }

                            .container-tmargin {
                                margin-top: 10px;
                            }

                            .mp-product-image {
                                max-width: 230px !important;
                                max-height: 240px !important;
                                display: block;
                                margin: auto;
                            }

                            .mp-height-30 {
                                height: 30px;
                            }

                            .mp-product-image-block {
                                width: 100%;
                                height: 250px;
                            }

                            .product-name.mp-color-gray.text-center {
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }

                            .mp-subscribe-btn {
                                border: 1px solid;
                                padding: 5px;
                                background-color: red;
                                color: white;
                                border-radius: 10px;
                            }

                            .mp-subscribe-btn:hover {
                                background-color: black;
                                color: white;
                                cursor: pointer;
                            }

                            .mp-error {
                                color: red;
                            }

                            .mp-hide {
                                display: none;
                            }

                            .mp-modal-container {
                                position: fixed;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                top: 0;
                                background: rgba(0, 0, 0, 0.44);
                                z-index: 1000;
                            }

                            .mp-modal-content {
                                width: 520px;
                                margin-left: -260px;
                                top: 84px;
                                background-color: #FFF;
                                left: 50%;
                                position: absolute;
                            }

                            .mp-icon-close {
                                border-color: transparent #252525 transparent transparent;
                                border-style: solid;
                                border-width: 0 44px 44px 0;
                                float: right;
                                cursor: pointer;
                            }

                            .pad-10 {
                                padding: 10px;
                            }

                            .flow-right {
                                float: right;
                            }

                            .mp-pad-15 {
                                padding: 15px;
                            }

                            .mp-margin-top-15 {
                                margin-top: 15px;
                            }

                            .mp-clear-both {
                                clear: both;
                            }

                            .mp-modal-header {
                                font-size: 20px;
                                color: #252525;
                                background-color: #F2F2F2;
                            }

                            .mp-banner-container img {
                                max-width: 100% !important;
                                height: auto !important;
                                width: auto !important;
                            }

                            #seller_policy>pre {
                                white-space: inherit;
                                border: none;
                                background: none;
                            }

                            .wrapper-dropdown-3 {
                                position: relative;
                                z-index: 3000;
                                pointer-events: auto;
                            }

                            .wrapper-dropdown-3:after {
                                border-color: #8aa8bd transparent;
                            }

                            .wrapper-dropdown-3 .dropdown {
                                position: absolute;
                                top: 140%;
                                left: 0;
                                right: 0;
                                width: 100%;
                                background: white;
                                border-radius: inherit;
                                border: 1px solid rgba(0, 0, 0, 0.17);
                                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
                                font-weight: normal;
                                transition: all 0.5s ease-in;
                                list-style: none;
                                margin: 0;
                                opacity: 0;
                                pointer-events: none;
                            }

                            .wrapper-dropdown-3 .dropdown ul {
                                display: block;
                                text-decoration: none;
                                margin: 0;
                                max-height: 136px;
                                overflow-y: auto;
                                overflow-x: hidden;
                                width: 238px;
                                list-style: none;
                            }

                            .wrapper-dropdown-3 .dropdown li a {
                                display: block;
                                padding: 10px;
                                text-decoration: none;
                                color: inherit;
                                border-bottom: 1px solid #e6e8ea;
                            }

                            .wrapper-dropdown-3 .dropdown li a input {
                                float: left;
                                color: #252525;
                                margin-right: 12px;
                                margin-top: 5px;
                            }

                            .wrapper-dropdown-3 .dropdown li:last-of-type a {
                                border: none;
                            }

                            .wrapper-dropdown-3 .dropdown:after {
                                content: "";
                                width: 0;
                                height: 0;
                                position: absolute;
                                bottom: 100%;
                                left: 50%;
                                border-width: 0 6px 6px 6px;
                                border-style: solid;
                                border-color: #fff transparent;
                            }

                            .wrapper-dropdown-3 .dropdown:before {
                                content: "";
                                width: 0;
                                height: 0;
                                position: absolute;
                                bottom: 100%;
                                left: 50%;
                                border-width: 0 8px 8px 8px;
                                border-style: solid;
                                border-color: rgba(0, 0, 0, 0.1) transparent;
                            }

                            .wrapper-dropdown-3.active-filter .dropdown {
                                opacity: 1;
                                pointer-events: auto;
                            }

                            .wk-width-33 {
                                width: 33% !important;
                            }

                            .wk-width-25 {
                                width: 25% !important;
                            }

                            .btn.apply {
                                border-radius: 5px 5px 5px 5px;
                                width: 47%;
                            }

                            .btn.inactive {
                                opacity: 0.7;
                            }

                            #search-div {
                                width: 200px;
                                margin: 0 0 0 10px !important;
                                background: 0;
                                border-top: 0;
                                border-right: 0;
                                border-left: 0;
                                border-bottom: 1px solid #ccc;
                                padding: 10px 0;
                                outline: none;
                            }

                            .tag-me {
                                border: 1px solid grey;
                                border-radius: 14px;
                                padding: 4px;
                                margin-right: 10px;
                            }

                            .wk-seller-social-tab {
                                background-color: #fff;
                                color: #3d4246;
                                border-color: #e8e9eb;
                                border: 1px solid #3d4246 !important;
                                padding: 5px 10px !important;
                                font-size: 0.8em;
                                line-height: 1;
                                margin-right: 5px;
                                margin-bottom: 10px;
                                display: inline-block;
                                cursor: pointer;
                                border-radius: 2px;
                                font-weight: 600;
                                letter-spacing: 0.08em;
                            }

                            .facebook-block {
                                color: aliceblue;
                                text-transform: uppercase;
                                background-color: #2d4373;
                                border: 1px solid #2d4373 !important;
                            }

                            .twitter-block {
                                color: aliceblue;
                                background-color: #03A9F4;
                                border: 1px solid #03A9F4 !important;
                                text-transform: lowercase;
                            }

                            .linkedin-block {
                                color: #007bb6;
                                background-color: aliceblue;
                                border: 1px solid #007bb6 !important;
                            }

                            .wrapper-dropdown-3 #cat-filter,
                            .wrapper-dropdown-3 #brand-filter,
                            #tag-filter,
                            #apply-filter {
                                padding: 10px 2px !important;
                                overflow: hidden;
                                font-size: 12px !important;
                            }

                            .pointer {
                                cursor: pointer;
                            }

                            .top-margin-5 {
                                margin-top: 5px;
                            }

                            .rte {
                                margin-bottom: unset !important;
                                margin-top: -10px !important;
                            }

                            #MainContent {
                                margin-top: unset !important;
                                padding: 0px 0px 20px !important;
                                width: 100% !important;
                            }

                            .wk-seller-profile {
                                text-align: center !important;
                            }

                            .wk-seller-logo {
                                text-align: left !important;
                            }

                            .tab-content>.tab-pane.active {
                                display: block !important;
                            }

                            .tab-content>.tab-pane {
                                display: none !important;
                            }

                            .wk-responsive-tabs-container[class*="accordion-"] .tab-pane {
                                margin-bottom: 15px;
                            }

                            .wk-responsive-tabs-container[class*="accordion-"] .accordion-link {
                                display: none !important;
                                margin-bottom: 10px;
                                padding: 10px 15px;
                                background-color: #f5f5f5;
                                border-radius: 3px;
                                border: 1px solid #ddd;
                                color: #333;
                                clear: both;
                            }

                            .wk-filter-desktop {
                                display: block;
                            }

                            .wk-filter-mobile {
                                display: none;
                            }

                            .wk-filter-desktop ul {
                                list-style-type: none;
                                padding: 0;
                                margin: 0;
                            }

                            .wk-filter-desktop ul li {
                                border: 1px solid #ddd;
                                margin-top: -1px;
                                /* Prevent double borders */
                                background-color: #f6f6f6;
                                padding: 8px;
                            }

                            .wk-accordion {
                                background-color: #eee;
                                color: #444;
                                cursor: pointer;
                                padding: 10px;
                                width: 100%;
                                border: none;
                                text-align: left;
                                outline: none;
                                font-size: 15px;
                                transition: 0.4s;
                            }

                            .wk-active,
                            .wk-accordion:hover {
                                background-color: #ccc;
                            }

                            .wk-accordion:after {
                                content: "\002B";
                                color: #777;
                                font-weight: bold;
                                float: right;
                                margin-left: 5px;
                            }

                            .wk-active:after {
                                content: "\2212";
                            }

                            .wk_panel {
                                max-height: 0;
                                overflow: hidden;
                                transition: max-height 0.2s ease-out;
                            }

                            .InputAddOn {
                                display: flex;
                            }

                            .InputAddOn-field {
                                flex: 1;
                                -webkit-box-flex: 1;
                                -webkit-flex: 1;
                                border: 1px solid hsla(31, 15%, 50%, .25);
                                padding: 5px 10px;
                                margin: 0 !important;
                            }

                            .InputAddOn-item {
                                border: 1px solid hsla(31, 15%, 50%, .25);
                                padding: 5px 10px;
                                margin: 0 !important;
                                background: red;
                                color: white;
                                font: inherit;
                                font-weight: 400;
                            }

                            .mp-mrgn-right-16 {
                                margin-right: 10px !important;
                            }

                            .wk-badge {
                                border-radius: 50%;
                                background-color: #000;
                                color: #fff;
                                display: inline-block;
                                padding: 0 7px;
                                text-align: center;
                                font-size: 13px;
                            }

                            /* The parent of input */
                            .wk-checkbox {
                                position: relative;
                                padding-left: 30px !important;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                cursor: pointer;
                            }

                            label.wk-checkbox {
                                display: block;
                                margin: 0;
                                color: #444 !important;
                                font-size: 13px;
                            }

                            /* Hide the browser default checkbox */
                            .wk-checkbox input {
                                position: absolute;
                                opacity: 0;
                                height: 0;
                                width: 0;
                            }

                            /* Create a custom checkbox */
                            .checkmark {
                                position: absolute;
                                top: 3px;
                                left: 5px;
                                height: 20px;
                                width: 20px;
                                background-color: #eee;
                                cursor: pointer;
                                display: inline-block;
                            }

                            /**filter name **/
                            .wk-filter-name {
                                word-break: break-word;
                                display: inline-block;
                                width: 65%;
                            }

                            /* On mouse-over, add a grey background color */
                            .wk-checkbox:hover input~.checkmark {
                                background-color: #ccc;
                            }

                            /* When the checkbox is checked, add a blue background */
                            .wk-checkbox input:checked~.checkmark {
                                background-color: #2196F3;
                            }

                            /* Create the checkmark/indicator (hidden when not checked) */
                            .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                            }

                            /* Show the checkmark when checked */
                            .wk-checkbox input:checked~.checkmark:after {
                                display: block;
                            }

                            /* Style the checkmark/indicator */
                            .wk-checkbox .checkmark:after {
                                left: 9px;
                                top: 5px;
                                width: 5px;
                                height: 10px;
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }

                            .product-block {
                                text-decoration: none !important;
                            }

                            .product-block:hover {
                                text-decoration: none !important;
                            }

                            .money {
                                font-weight: 700 !important;
                            }

                            /* The Modal (background) contact form*/
                            .wk-modal {
                                display: none;
                                /* Hidden by default */
                                position: fixed;
                                /* Stay in place */
                                z-index: 10000;
                                /* Sit on top */
                                outline: 0;
                                left: 0;
                                top: -100px;
                                right: 0;
                                bottom: 0;
                                overflow-x: hidden;
                                overflow-y: auto;
                                /* Enable scroll if needed */
                                background-color: rgb(0, 0, 0);
                                /* Fallback color */
                                background-color: rgba(0, 0, 0, 0.4);
                                /* Black w/ opacity */
                            }

                            /* Modal Content */
                            .wk-modal-content {
                                position: relative;
                                background-color: #fefefe;
                                color: #444;
                                margin: 10% auto;
                                padding: 0;
                                border: 1px solid #888;
                                border-radius: 6px;
                                outline: 0;
                                width: 50%;
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                -webkit-animation-name: animatetop;
                                -webkit-animation-duration: 0.4s;
                                animation-name: animatetop;
                                animation-duration: 0.4s;
                            }

                            .wk-modal-content label {
                                color: #444 !important;
                            }

                            /* The Close Button */
                            .wk-close {
                                color: white;
                                float: right;
                                font-size: 18px;
                                font-weight: bold;
                            }

                            .wk-close:hover,
                            .wk-close:focus {
                                color: #000;
                                text-decoration: none;
                                cursor: pointer;
                            }

                            .wk-modal-header {
                                padding: 15px 15px;
                                background-color: #EF7C73;
                                border-radius: 3px 3px 0 0;
                                color: white;
                            }

                            .wk-modal-body {
                                padding: 2px 16px;
                            }

                            #map {
                                width: 60%;
                                height: 450px;
                                position: relative;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }

                            #right-panel {
                                height: 460px;
                                float: right;
                                width: 40%;
                                overflow: auto;
                                direction: ltr;
                            }

                            .product-block-div {
                                height: 320px;
                            }

                            /* Add Animation */
                            @-webkit-keyframes animatetop {
                                from {
                                    top: -300px;
                                    opacity: 0;
                                }

                                to {
                                    top: 0;
                                    opacity: 1;
                                }
                            }

                            @keyframes animatetop {
                                from {
                                    top: -300px;
                                    opacity: 0;
                                }

                                to {
                                    top: 0;
                                    opacity: 1;
                                }
                            }

                            /** media query */
                            @media only screen and (max-width: 600px) {
                                .wk-seller-profile {
                                    text-align: left !important;
                                }

                                .wk-seller-logo {
                                    text-align: center !important;
                                }

                                .wk-filter-desktop {
                                    display: none;
                                }

                                .wk-filter-mobile {
                                    display: block;
                                    padding: 15px;
                                }

                                .wk-modal {
                                    padding-top: 50px;
                                }
                            }

                            @media screen and (max-width: 960px) {
                                .wk-parent-logo {
                                    width: 100%;
                                    margin: 20px 0px;
                                }
                            }

                            @media (max-width: 767px) {
                                .wk-responsive-tabs-container.accordion-xs .nav-tabs {
                                    display: none !important;
                                }

                                .wk-responsive-tabs-container.accordion-xs .accordion-link {
                                    display: block !important;
                                }
                            }

                            @media (min-width: 768px) and (max-width: 991px) {
                                .wk-responsive-tabs-container.accordion-sm .nav-tabs {
                                    display: none !important;
                                }

                                .wk-responsive-tabs-container.accordion-sm .accordion-link {
                                    display: block !important;
                                }
                            }

                            @media (min-width: 992px) and (max-width: 1199px) {
                                .wk-responsive-tabs-container.accordion-md .nav-tabs {
                                    display: none !important;
                                }

                                .wk-responsive-tabs-container.accordion-md .accordion-link {
                                    display: block !important;
                                }
                            }

                            @media (min-width: 1200px) {
                                .wk-responsive-tabs-container.accordion-lg .nav-tabs {
                                    display: none !important;
                                }

                                .wk-responsive-tabs-container.accordion-lg .accordion-link {
                                    display: block !important;
                                }
                            }

                            /** your custom css */
                        </style>

                        {{#each this.profile}}
                        <div class="container">
                            <!-- seller information block -->
                            <div class="row">
                                <!-- store logo block -->
                                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 wk-seller-logo mp-pad-15">
                                    <div class="mp-store-logo mp-mrgn-btm-12 wk-parent-logo text-center">
                                        <div class="wk-child-logo">
                                            <img src="/img/DealerAvt.png" id="user_logo_image" class="" width="165"
                                                height="165">
                                        </div>
                                        {{#when ../session.user.id 'eq' id}}
                                        <!-- EDIT PROFILE DOAỌ BSJFSD JK-->
                                        <span>
                                            <button class="btn button-primary" style="margin-top: 7px;">
                                                <a href="/account/profile/{{../session.user.id}}/edit">
                                                    <i class="fa fa-edit"></i>Edit profile</a>
                                            </button>
                                        </span>
                                        <!-- END    EDIT PROFILE DOAỌ BSJFSD JK-->
                                        {{/when}}


                                    </div>

                                </div>
                                <!-- store logo block end -->
                                <!-- store info block -->
                                <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 ">
                                    <div class="row mp-mrgn-btm-12 mp-pad-15">
                                        <!-- store name block -->
                                        <div class="mp-store-name mp-mrgn-btm-5">
                                            <span class="fullName">{{fullname}} </span>
                                            <span class="userName">( {{username}} )</span>
                                            <span class="label label-warning" id="roleBadge">seller (code cứng)</span>
                                            <script>
                                                var roleBadge = document.getElementById("roleBadge");
                                                if ({{ permission }} === 1) { roleBadge.innerHTML = "seller"; }
                                                    else if ({{ permission }} === 0) { roleBadge.innerHTML = "bidder"; }
                                                    else { roleBadge.innerHTML = "anonymous"; }
                                            </script>
                                        </div>

                                        <div class="star-rating mp-mrgn-btm-5">
                                            {{!-- <link rel="stylesheet"
                                                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}

                                            <span class="fa fa-star starChecked"></span>
                                            <span class="fa fa-star starChecked"></span>
                                            <span class="fa fa-star starChecked"></span>
                                            <span class="fa fa-star starChecked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="rate">(80% => code cứng)</span>

                                        </div>
                                        {{!-- store contact --}}
                                        <div class="mp-mrgn-btm-12">
                                            <span id="contact_modal" class="mp-subscribe-btn mp-mrgn-btm-12">
                                                <span class="fa fa-envelope-o email" aria-hidden="true"></span>
                                                {{email}}
                                            </span>
                                        </div>

                                        <!-- store location block -->
                                        <div class="mp-location mp-color-gray mp-mrgn-btm-5">
                                            <span class="fa fa-phone"></span> {{phone}}
                                        </div>
                                        <!-- store short description block -->
                                        <div class="mp-store-short-desc mp-mrgn-btm-5">HELLO. I'M MEMBER OF ONLINE
                                            AUCTION.</div>
                                        <!-- store info about product and join block -->
                                        <div class="mp-color-gray mp-mrgn-btm-5">

                                            <span>Join Since {{dob}} </span>
                                        </div>
                                        <!-- store review rating block -->
                                        <!-- store like block -->
                                        <div class="mp-mrgn-btm-5" id="wk-store-like-block">
                                            <button class="btn button-primary" id="wk-like-btn"><span
                                                    class="fa fa-thumbs-up"></button>
                                            <button class="btn button-primary" id="wk-like-btn"><span
                                                    class="fa fa-thumbs-down"></button>
                                            {{!-- <input type="hidden" id="wk-like-label" data-label-like="Like Shop">
                              <input type="hidden" id="wk-liked-label" data-label-liked="Liked"> --}}
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                            <!-- block end -->
                            <div class="row">
                                <!-- tabs menu -->
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mp-mrgm-btm-12" id="mp-seller-tabs">
                                    <div class="wk-responsive-tabs-container accordion-xs accordion-sm">
                                        <ul class="nav nav-tabs wk-responsive-tabs">
                                            <li class="active nav nav-tabs">
                                                <a href="#seller_product_tab" data-toggle="tab">WishList</a>
                                            </li>

                                            <li><a href="#customer_feedback_tab" data-toggle="tab">Feedback</a></li>
                                            <li><a href="#auction_won" data-toggle="tab">Auction won</a></li>
                                            <li><a href="#user_wishlist_tab" data-toggle="tab">Wishlist</a></li>


                                        </ul>
                                        <div class="tab-content mp-tab-content mp-mrgm-btm-12">
                                            <!-- seller product tab content -->
                                            <a href="#seller_product_tab"
                                                class="accordion-link active first">WishList</a>
                                            <div class="tab-pane active" id="seller_product_tab">

                                                <!-- product filter block -->
                                                <div class="col-md-6">
						<div class="header-search">
							<form method="get" action="/account/profile/{{idUSer}}/search" onsubmit="">
								<input type="text" class="input" placeholder="Search here" id="nameproduct"
									name="nameproduct">
								<button type="submit" class="search-btn" onclick="">Search</button>
							</form>
						</div>
					</div>
                                                <!-- product listing block -->
                                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                    <div class="" id="tag-div" style="padding:10px 15px;">
                                                        <!--adding tags inside this-->
                                                    </div>
                                                    <!-- import product grid -->
                                                    <div class="seller_product_grid">
                                                        <!-- product listing block -->
                                                        <!-- not subscription product -->
                                                        <!-- product grid for medium and large device 4*3 and small device 12*1 -->

                                                        {{#each this.products}}
                                                        <!-- product -->
                                                        <div class="col-md-4 col-xs-6">
                                                            <div class="product">
                                                                <div class="product-img">
                                                                    <img src="/img/product01.png" alt="">
                                                                    <div class="product-label">
                                                                        <span class="sale">-30%</span>
                                                                        <span class="new">New</span>
                                                                    </div>
                                                                </div>
                                                                <div class="product-body">
                                                                    <!-- <p class="product-category">Category</p> -->
                                                                    <p class="product-time-left">{{startDate}}</p>
                                                                    <h3 class="product-name"><a href="#">{{name}}</a>
                                                                    </h3>
                                                                    <h4 class="product-price">{{buynowPrice}} <del
                                                                            class="product-old-price">{{currentPrice}}</del>
                                                                    </h4>
                                                                    <div class="product-rating">
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                        <i class="fa fa-star"></i>
                                                                    </div>
                                                                    <div class="product-btns">
                                                                        <button onclick="addWistListAndLoadUrl({{id}})"
                                                                            id="{{id}}" class="add-to-wishlist"><i
                                                                                style="color:#D10024" id="{{id}}-heart"
                                                                                class="fa fa-heart"
                                                                                aria-hidden="true"></i><span
                                                                                class="tooltipp">add to
                                                                                wishlist</span></button>
                                                                    </div>
                                                                </div>
                                                                <div class="add-to-cart">
                                                                    <button class="add-to-cart-btn"><i
                                                                            class="fa fa-shopping-cart"></i>
                                                                        Auction</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /product -->
                                                        {{/each}}
                                                        <!-- product pagination -->
                                                        <div
                                                            class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">

                                                        </div>
                                                        <!-- product listing block end -->
                                                        <!-- seller review block -->
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Feedback tabbbbbbbbbbbb  -->
                                            <a href="customer_feedback_tab" class="accordion-link">Feedback</a>
                                            <div class="tab-pane" id="customer_feedback_tab">
                                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                    <div class="" id="tag-div" style="padding:10px 15px;">
                                                    </div>
                                                    <div class="seller_product_grid">
                                                        <div
                                                            class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                                                            <h3>Auctioned products from this seller</h3>
                                                            <hr>
                                                            {{!-- Đổ dữ liệu các sản phẩm mà <user> đã thắng từ chủ profile --}}
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Feedback tabbbbbbbbbbbb  -->

                                            <!-- Auction won tabbbbbbbbbbbb  -->
                                            <a href="auction_won" class="accordion-link">Auction won</a>
                                            <div class="tab-pane" id="auction_won">
                                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                    <div class="" id="tag-div" style="padding:10px 15px;">
                                                    </div>
                                                    <div class="seller_product_grid">
                                                        <div
                                                            class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">
                                                            <h3>Won auctions</h3>
                                                            <hr>
                                                            {{!-- Đổ dữ liệu các sản phẩm mà <user> đã thắng từ chủ profile --}}
                                                            <hr>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Auction won tabbbbbbbbbbbb  -->

                                            <!-- Wishlist tabbbbbbbbbbbb  -->
                                            <a href="user_wishlist_tab" class="accordion-link">Wishlist</a>
                                            <div class="tab-pane" id="user_wishlist_tab">
                                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                    <div class="" id="tag-div" style="padding:10px 15px;">
                                                    </div>
                                                    <div class="seller_product_grid">
                                                        <!-- product listing block -->
                                                        <!-- not subscription product -->
                                                        <!-- product grid for medium and large device 4*3 and small device 12*1 -->
                                                        <div
                                                            class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mp-mrgn-btm-32 product-block-div">
                                                            <a href="/products/parfumbio" target="_blank"
                                                                class="product-block">
                                                                <!-- product image block -->
                                                                <div class="mp-product-image-block">
                                                                    <img src="https://shopify-digital-delivery.s3.amazonaws.com/product_img/main_img/1680421/Fqh2YlKsIB.jpg"
                                                                        alt="" class="mp-product-image">
                                                                </div>
                                                                <!-- product price block -->
                                                                <div class="text-center">
                                                                    <span class="money mp-color-gray"
                                                                        data-currency-usd="$16.99 USD"
                                                                        data-currency="$">
                                                                        $16.99 </span>
                                                                </div>
                                                                <!-- product name block -->
                                                                <div class="product-name mp-color-gray text-center"
                                                                    style="word-break:break-word;">
                                                                    <span>ParfumBio</span>
                                                                </div>
                                                            </a>
                                                        </div>
                                                        <!-- product pagination -->
                                                        <div
                                                            class="col-md-12 col-lg-12 col-sm-12 col-xs-12 text-center">

                                                        </div>
                                                        <!-- product listing block end -->
                                                        <!-- seller review block -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Wishlist tabbbbbbbbbbbb  -->



                                            <div class="mp-loader" style="display: none;">
                                                <div class="mp-spinner"></div>
                                                <div class="title-text">Please Wait...</div>
                                            </div>
                                            {{!-- <script type="text/javascript"
                                                src="https://sp-seller.webkul.com/js/vc_seller_profile.min.js"></script> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            </main>


            <!-- /container -->
        </div>
        <!-- /SECTION -->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/searchprofile.js"></script>
</body>
</html>