<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb-tree">
          <li><a href="#">Home</a></li>
          <li><a href="#">All Categories</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Headphones</a></li>
          <li class="active">Product name goes here</li>
        </ul>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
           {{#each images}}
          <div class="product-preview">
            <img src="{{src}}" alt="" />
          </div>
          {{/each}}
        </div>
      </div>
      <!-- /Product main img -->

      <!-- Product thumb imgs -->
      <div class="col-md-2  col-md-pull-5">
        <div id="product-imgs">
          {{#each images}}
          <div class="product-preview">
            <img src={{src}} alt="" />
          </div>
          {{/each}}
        </div>
      </div>
      <!-- /Product thumb imgs -->

      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
                  <ul class="product-btns">
            <li>
              <a href="#" onclick="addWistList({{idProduct}})">{{#if this.product.like}}<i style="color:#D10024"
                  name="{{idProduct}}-heart" class="fa fa-heart" aria-hidden="true"></i>{{else}}<i style="color:#ddd"
                  name="{{idProduct}}-heart" class="fa fa-heart" aria-hidden="true"></i>{{/if}} Add To Wish List</a>
            </li>
            <!-- <li>
              <a href="#"><i class="fa fa-exchange"></i> add to compare</a>
            </li> -->
          </ul>
          <h2 class="product-name">{{{this.product.name}}}</h2>
  
          <h2 class="product-available" style="margin-bottom:20px">{{{this.product.timeLeft}}}</h2>
          <!-- <h3 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h3> -->
          <div class="product-price-group">
            <div class="product-price-item">
              <div class="product-price-item--vertical">
                <h2 class="product-price-title">CURRENT BID</h2>
                <h3 class="product-price">$ {{{this.product.currentPrice}}}</h3>
              </div>
              <div class="product-price-item--vertical">
                <h2 class="product-price-title">CURRENT WINNER</h2>
                <h3 class="product-price">{{this.bidderName}}</h3>
              </div>
            </div>
            <div class="product-price-now">
              <h2 class="product-price-title">BUY-NOW PRICE :</h2>
              <h3 class="product-price">$ {{{this.product.buynowPrice}}}</h3>
            </div>
          </div>
          <p class="product-intro">
            <h4>CHI TIẾT SẢN PHẨM</h4>
                  <table class="info-product-table">
                    <tr>
                      <th>Tên sản phẩm</th>
                      <td>{{{this.product.name}}}</td>
                    </tr>
                    <tr>
                      <th>Ngày đăng bán</th>
                      <td>{{{this.product.startDate}}}</td>
                    </tr>
                    <tr>
                      <th>Ngày hết hạn</th>
                      <td>{{{this.product.endDate}}}</td>
                    </tr>
                    <tr>
                      <th>Người đăng bán</th>
                      <td>{{{this.sellerName.fullname}}}</td>
                    </tr>
                  </table>
          </p>

          <!-- <div class="product-options">
            <label>
              Size
              <select class="input-select">
                <option value="0">X</option>
              </select>
            </label>
            <label>
              Color
              <select class="input-select">
                <option value="0">Red</option>
              </select>
            </label>
          </div> -->
          
          {{#if isOwnProduct}}
          <div></div>
          {{else}}
          <div style="margin-top: 30px; margin-bottom:0" class="add-to-cart">
            <div class="qty-label">
              PLACE YOUR BID
              <div style="width: 150px" class="input-number">
                <input type="text" value="{{this.product.bidStep}}" id="bidStepp" hidden>
                <input  type="number" id="input-bidding" value ="{{this.product.currentPrice}}"/>
                <span onclick="upInputBidding({{this.product.bidStep}})"  class="qty-up">+</span>
                <span onclick="downInputBidding({{this.product.bidStep}},{{this.product.currentPrice}})" class="qty-down">-</span>
              </div>
            </div>
            <button onclick = "placeBid({{this.product.id}})" class="add-to-cart-btn">
              <i class="fa fa-shopping-cart"></i> PLACE BID
            </button>
          </div>
          {{/if}}
        </div>
      </div>
      <!-- /Product details -->

      <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active">
              <a data-toggle="tab" href="#tab1">History</a>
            </li>
            <li>
              <a data-toggle="tab" href="#tab2">Details</a>
            </li>
            <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
          </ul>
          <!-- /product tab nav -->

          <!-- product tab content -->
          <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default" style="margin: 0 100px;">
                    <!-- Default panel contents -->
                    <!-- Table -->
                    <table class="table">
                      <tr>
                      <th>Thời điểm</th>
                      <th>Người đấu giá</th>
                      <th>Giá</th>
                      {{!-- OK --}}
                      <th></th>
                    </tr>
                    {{#if this.emptyHistory}}
                    <tr>
                      <td></td>
                      <td>Chưa có người</td>
                      <td></td>
                      <td></td>
                    </tr>
                    {{else}}
                        {{#each this.history}}
                        <tr>
                      <td>{{time}}</td>
                      <td>{{fullname}}</td>
                      <td>{{bidPrice}}</td>
                      {{#if ../isOwnProduct}}
                      <td>
                        <button class="btn btn-danger denyUser" onclick ="denyBidder({{id_product}},{{id_user}})">Deny</button>
                      </td>
                      {{/if}}
                    </tr>
                        {{/each}}
                        {{/if}}
                    
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /tab1  -->

            <!-- tab2  -->
            <div id="tab2" class="tab-pane fade">
              <div class="row">
                <div class="col-md-12 info-product">
                  <h4>CHI TIẾT SẢN PHẨM</h4>
                  <table class="info-product-table">
                    <tr>
                      <th>Tên sản phẩm</th>
                      <td>{{{this.product.name}}}</td>
                    </tr>
                    <tr>
                      <th>Ngày đăng bán</th>
                      <td>{{{this.product.startDate}}}</td>
                    </tr>
                    <tr>
                      <th>Ngày hết hạn</th>
                      <td>{{{this.product.endDate}}}</td>
                    </tr>
                    <tr>
                      <th>Người đăng bán</th>
                      <td>{{{this.sellerName.fullname}}}</td>
                    </tr>
                  </table>

                  <h4 class="info-product-detail">MÔ TẢ SẢN PHẨM</h4>
                  <p>
                    {{{this.product.details}}}
                  </p>
                </div>
              </div>
            </div>
            <!-- /tab2  -->

            <!-- tab3  -->
            <div id="tab3" class="tab-pane fade in">
              <div class="row">
                <!-- Rating -->
                <div class="col-md-3">
                  <div id="rating">
                    <div class="rating-avg">
                      <span>4.5</span>
                      <div class="rating-stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                    <ul class="rating">
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: 80%;"></div>
                        </div>
                        <span class="sum">3</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div style="width: 60%;"></div>
                        </div>
                        <span class="sum">2</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div></div>
                        </div>
                        <span class="sum">0</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div></div>
                        </div>
                        <span class="sum">0</span>
                      </li>
                      <li>
                        <div class="rating-stars">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div class="rating-progress">
                          <div></div>
                        </div>
                        <span class="sum">0</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Rating -->

                <!-- Reviews -->
                <div class="col-md-6">
                  <div id="reviews">
                    <ul class="reviews">
                      <li>
                        <div class="review-heading">
                          <h5 class="name">John</h5>
                          <p class="date">27 DEC 2018, 8:0 PM</p>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="review-heading">
                          <h5 class="name">John</h5>
                          <p class="date">27 DEC 2018, 8:0 PM</p>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua
                          </p>
                        </div>
                      </li>
                      <li>
                        <div class="review-heading">
                          <h5 class="name">John</h5>
                          <p class="date">27 DEC 2018, 8:0 PM</p>
                          <div class="review-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                          </div>
                        </div>
                        <div class="review-body">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua
                          </p>
                        </div>
                      </li>
                    </ul>
                    <ul class="reviews-pagination">
                      <li class="active">1</li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- /Reviews -->

                <!-- Review Form -->
                <div class="col-md-3">
                  <div id="review-form">
                    <form class="review-form">
                      <input class="input" type="text" placeholder="Your Name" />
                      <input class="input" type="email" placeholder="Your Email" />
                      <textarea class="input" placeholder="Your Review"></textarea>
                      <div class="input-rating">
                        <span>Your Rating: </span>
                        <div class="stars">
                          <input id="star5" name="rating" value="5" type="radio" /><label for="star5"></label>
                          <input id="star4" name="rating" value="4" type="radio" /><label for="star4"></label>
                          <input id="star3" name="rating" value="3" type="radio" /><label for="star3"></label>
                          <input id="star2" name="rating" value="2" type="radio" /><label for="star2"></label>
                          <input id="star1" name="rating" value="1" type="radio" /><label for="star1"></label>
                        </div>
                      </div>
                      <button class="primary-btn">Submit</button>
                    </form>
                  </div>
                </div>
                <!-- /Review Form -->
              </div>
            </div>
            <!-- /tab3  -->
          </div>
          <!-- /product tab content  -->
        </div>
      </div>
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- Section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3 class="title">Related Products</h3>
        </div>
      </div>

      {{#each this.related}}
      <!-- product -->
      <div class="col-md-3 col-xs-6">
        <div class="product">
          <div class="product-img">
            <img src="{{thumbnailSrc}}" alt="">
										<div class="product-label">
											<span class="sale">Bidding: {{count}}</span>
											{{#if this.new}}
											<span class="new">New</span>
											{{/if}}
										</div>
          </div>
          <div class="product-body">
            <p class="product-time-left">{{timeLeft}}</p>
										<h3 class="product-name"><a href="/products/detail/{{idproduct}}">{{name}}</a></h3>
										<h4 class="product-price">{{currentPrice}} </h4>
										<p class="product-winner">{{fullname}}</p>
            <div class="product-btns">
              <button onclick="addWistList({{idproduct}})" id="{{idproduct}}"
												class="add-to-wishlist">{{#if like}}<i style="color:#D10024" name="{{idproduct}}-heart"
													class="fa fa-heart" aria-hidden="true"></i>{{else}}<i style="color:#ddd"
													name="{{idproduct}}-heart" class="fa fa-heart" aria-hidden="true"></i>{{/if}}<span
													class="tooltipp">add to
													wishlist</span></button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn"><i class="fa fa-upload" aria-hidden="true"></i><a
												href="/products/detail/{{idproduct}}">BID NOW</a></button>
          </div>
        </div>
      </div>
      <!-- /product -->
      {{/each}}

      <div class="clearfix visible-sm visible-xs"></div>

      
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /Section -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.js"
		integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/bidding.js"></script>
