<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store</title>
</head>

<body>

    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                <div id="aside" class="col-md-3">
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Categories</h3>
                        <div class="checkbox-filter">
                            {{#each this.categories}}
                            <div class="input-checkbox">
                                <input type="checkbox" name="boxes" id="{{id}}"
                                    onclick="return SendRequestClickCheckBoxs()">
                                <label for="{{id}}">
                                    <span></span>
                                    {{name}}
                                    <small>({{count}})</small>
                                </label>
                            </div>
                            {{/each}}

                        </div>
                    </div>
                    <!-- /aside Widget -->




                    <!-- <div class="aside">
							<h3 class="aside-title">Top selling</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product01.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-time-left">12:06:00 left</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product02.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-time-left">12:06:00 left</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>

							<div class="product-widget">
								<div class="product-img">
									<img src="./img/product03.png" alt="">
								</div>
								<div class="product-body">
									<p class="product-time-left">12:06:00 left</p>
									<h3 class="product-name"><a href="#">product name goes here</a></h3>
									<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
								</div>
							</div>
						</div> -->
                    <!-- /aside Widget -->
                </div>
                <!-- /ASIDE -->

                <!-- STORE -->
                <div id="store" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="store-sort">
                            <label>
                                Sort By:
                                <select class="input-select " id="mySelect" onchange="selectedSort()">
                                    <option value="" style="display:none" disabled selected>Sắp theo</option>
                                    <option value="endDate">Sắp hết hạn</option>
                                    <option value="priceASC">Giá tăng</option>
                                    <option value="priceDESC">Giá giảm</option>
                                </select>
                            </label>
                        </div>
                        <ul class="store-grid">
                            <li class="active"><i class="fa fa-th"></i></li>
                            <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                        </ul>
                    </div>
                    <!-- /store top filter -->

                    <!-- store products -->
                    {{#if this.empty}}
                    <div class="card-body">
                        <p class="card-text">
                            Không có dữ liệu.
                        </p>
                    </div>
                    {{else}}
                    <div class="row">
                        {{#each this.products}}

                        <!-- product -->
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{thumbnailSrc}}" alt="">
                                    <div class="product-label">
                                        <span class="sale">Bidding: {{count}}</span>
                                        {{#if this.new}}
                                        <span class="new">New</span>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="product-body">
                                    <!-- <p class="product-category">Category</p> -->
                                    <p class="product-time-left">{{timeLeft}}</p>
                                    <h3 class="product-name"><a href="/products/detail/{{idproduct}}">{{name}}</a></h3>
                                    <h4 class="product-price">{{currentPrice}} </h4>
                                    <p>{{fullname}}</p>
                                    <div class="product-btns">
                                        <button onclick="addWistList({{idproduct}})" id="{{idproduct}}"
                                            class="add-to-wishlist">{{#if like}}<i style="color:#D10024"
                                                name="{{idproduct}}-heart" class="fa fa-heart"
                                                aria-hidden="true"></i>{{else}}<i style="color:#ddd"
                                                name="{{idproduct}}-heart" class="fa fa-heart"
                                                aria-hidden="true"></i>{{/if}}<span class="tooltipp">add to
                                                wishlist</span></button>
                                    </div>
                                </div>
                                <div class="add-to-cart">
                                    <button class="add-to-cart-btn"><i class="fa fa-upload" aria-hidden="true"></i><a href="/products/detail/{{idproduct}}">BID NOW</a></button>
                                </div>
                            </div>
                        </div>
                        <!-- /product -->
                        {{/each}}
                        {{/if}}


                    </div>
                    <!-- /store products -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">

                        <ul class="store-pagination">
                            <li onclick="backPage()" style="cursor:pointer"><span style="cursor:pointer"><i
                                        class="fa fa-angle-left"></i></span></li>
                            {{#times numbers}}
                            {{#when this 'eq' ../page}}
                            <li onclick="goToPage({{this}})" style="cursor:pointer" class="active"><span
                                    style="cursor:pointer">{{this}}</span></li>
                            {{/when}}
                            {{#when this 'noteq' ../page}}
                            <li onclick="goToPage({{this}})" style="cursor:pointer"><span
                                    style="cursor:pointer">{{this}}</span></li>
                            {{/when}}
                            {{/times}}
                            <li onclick="nextPage({{numbers}})" style="cursor:pointer"><span style="cursor:pointer"><i
                                        class="fa fa-angle-right"></i></span></li>
                        </ul>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /STORE -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"
        integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>

</html>